
* dataframe.to_dict

* dataframe.to_list


first amount \\$10 and second amount \\$2 causes a problem

* Use help() function can actually help you understand by reading the documentation
* Use dir() function allows you to find out what function you can apply to an object

In [58]:
import scipy.stats as stats

# Explain stats.pearsonr(column, column)

In [59]:
help(stats.pearsonr)

Help on function pearsonr in module scipy.stats.stats:

pearsonr(x, y)
    Pearson correlation coefficient and p-value for testing non-correlation.

    The Pearson correlation coefficient [1]_ measures the linear relationship
    between two datasets.  The calculation of the p-value relies on the
    assumption that each dataset is normally distributed.  (See Kowalski [3]_
    for a discussion of the effects of non-normality of the input on the
    distribution of the correlation coefficient.)  Like other correlation
    coefficients, this one varies between -1 and +1 with 0 implying no
    correlation. Correlations of -1 or +1 imply an exact linear relationship.
    Positive correlations imply that as x increases, so does y. Negative
    correlations imply that as x increases, y decreases.

    The p-value roughly indicates the probability of an uncorrelated system
    producing datasets that have a Pearson correlation at least as extreme
    as the one computed from these datasets.

    Parameters
    ----------
    x : (N,) array_like
        Input array.
    y : (N,) array_like
        Input array.

    Returns
    -------
    r : float
        Pearson's correlation coefficient.
    p-value : float
        Two-tailed p-value.

    Warns
    -----
    PearsonRConstantInputWarning
        Raised if an input is a constant array.  The correlation coefficient
        is not defined in this case, so ``np.nan`` is returned.

    PearsonRNearConstantInputWarning
        Raised if an input is "nearly" constant.  The array ``x`` is considered
        nearly constant if ``norm(x - mean(x)) < 1e-13 * abs(mean(x))``.
        Numerical errors in the calculation ``x - mean(x)`` in this case might
        result in an inaccurate calculation of r.

    See Also
    --------
    spearmanr : Spearman rank-order correlation coefficient.
    kendalltau : Kendall's tau, a correlation measure for ordinal data.

    Notes
    -----
    The correlation coefficient is calculated as follows:

    .. math::

        r = \frac{\sum (x - m_x) (y - m_y)}
                 {\sqrt{\sum (x - m_x)^2 \sum (y - m_y)^2}}

    where :math:`m_x` is the mean of the vector :math:`x` and :math:`m_y` is
    the mean of the vector :math:`y`.

    Under the assumption that x and y are drawn from independent normal
    distributions (so the population correlation coefficient is 0), the
    probability density function of the sample correlation coefficient r
    is ([1]_, [2]_)::

               (1 - r**2)**(n/2 - 2)
        f(r) = ---------------------
                  B(1/2, n/2 - 1)

    where n is the number of samples, and B is the beta function.  This
    is sometimes referred to as the exact distribution of r.  This is
    the distribution that is used in `pearsonr` to compute the p-value.
    The distribution is a beta distribution on the interval [-1, 1],
    with equal shape parameters a = b = n/2 - 1.  In terms of SciPy's
    implementation of the beta distribution, the distribution of r is::

        dist = scipy.stats.beta(n/2 - 1, n/2 - 1, loc=-1, scale=2)

    The p-value returned by `pearsonr` is a two-sided p-value.  For a
    given sample with correlation coefficient r, the p-value is
    the probability that abs(r') of a random sample x' and y' drawn from
    the population with zero correlation would be greater than or equal
    to abs(r).  In terms of the object ``dist`` shown above, the p-value
    for a given r and length n can be computed as::

        p = 2*dist.cdf(-abs(r))

    When n is 2, the above continuous distribution is not well-defined.
    One can interpret the limit of the beta distribution as the shape
    parameters a and b approach a = b = 0 as a discrete distribution with
    equal probability masses at r = 1 and r = -1.  More directly, one
    can observe that, given the data x = [x1, x2] and y = [y1, y2], and
    assuming x1 != x2 and y1 != y2, the only possible values for r are 1
    and -1.  Because abs(r') for any sample x' and y' with length 2 will
    be 1, the two-sided p-value for a sample of length 2 is always 1.

    References
    ----------
    .. [1] "Pearson correlation coefficient", Wikipedia,
           https://en.wikipedia.org/wiki/Pearson_correlation_coefficient
    .. [2] Student, "Probable error of a correlation coefficient",
           Biometrika, Volume 6, Issue 2-3, 1 September 1908, pp. 302-310.
    .. [3] C. J. Kowalski, "On the Effects of Non-Normality on the Distribution
           of the Sample Product-Moment Correlation Coefficient"
           Journal of the Royal Statistical Society. Series C (Applied
           Statistics), Vol. 21, No. 1 (1972), pp. 1-12.

    Examples
    --------
    >>> from scipy import stats
    >>> a = np.array([0, 0, 0, 1, 1, 1, 1])
    >>> b = np.arange(7)
    >>> stats.pearsonr(a, b)
    (0.8660254037844386, 0.011724811003954649)

    >>> stats.pearsonr([1, 2, 3, 4, 5], [10, 9, 2.5, 6, 4])
    (-0.7426106572325057, 0.1505558088534455)

With a larger p value, we have a higher probability to see a phenomenon that is as extreme as, or more extreme than the one we observed in data, assuming that the null hypothesis is true. Most of the time, the null hypothesis represents no effect/no change/ no improvement when treatment/intervention is applied.


The significance level is a measure of how strong the sample evidence must be before determining the results are statistically significant.


* The p value reports the probability you can get the see a phenomenon that is as extreme as, or more extreme than the one observed in data, assuming that the null hypothesis is true. So a larger p value indicates you have weaker evidence against the null hypothesis. We fail to reject the null hypothesis if the p value is larger than alpha.  

* The p value reports the probability you can get the see a phenomenon that is as extreme as, or more extreme than the one observed in data, assuming that the null hypothesis is true. So a larger p value indicates you have stronger evidence against the null hypothesis. We reject the null hypothesis if the p value is larger than alpha.  

* With a larger alpha, we need stronger evidence from the observed data to reject the null hypothesis.

* With a larger alpha, we need weaker evidence from the observed data to reject the null hypothesis.

* Method of retrieving data
* Review, evaluate, validate results of data findings
* Identify and assess the validity and reliability of data sources
* Clean, transform, analyze and integrate stuctured and unstructured data
* Apply data mining, statistical theory and procedures to test hypothesis
* Perform anomaly detection, survey sampling design and estimation
* Statistical modeling and analysis

In [1]:
import pandas as pd

grades = pd.read_csv('datasets/class_grades.csv')

In [7]:
grades.columns

Index(['Prefix', 'Assignment', 'Tutorial', 'Midterm', 'TakeHome', 'Final'], dtype='object')

In [3]:
grades.get(['Assignment', 'Final'])

    Assignment  Final
0        57.14  52.50
1        95.05  68.33
2        83.70  48.89
3          NaN  80.56
4        91.32  73.89
..         ...    ...
94         NaN  61.94
95         NaN  39.72
96       89.94  87.78
97       95.60  85.56
98       63.40  77.22

[99 rows x 2 columns]

In [6]:
type(grades[['Assignment', 'Final']]) == type(grades.get(['Assignment', 'Final']))

True

In [15]:
grades.Final.gt(50)#.lt(60)

0      True
1      True
2     False
3      True
4      True
      ...
94     True
95    False
96     True
97     True
98     True
Name: Final, Length: 99, dtype: bool

In [18]:
grades.Final.lt(70)

0      True
1     False
2      True
3     False
4     False
      ...
94     True
95     True
96    False
97    False
98    False
Name: Final, Length: 99, dtype: bool

In [16]:
# Broadcasting

grades.Final +=5

In [17]:
# We didn't use the inplace option but 5 points have been added to each student as extra credit
grades

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  57.50
1        8       95.05    105.49    67.50     99.07  73.33
2        8       83.70     83.17      NaN     63.15  53.89
3        7         NaN       NaN    49.38    105.93  85.56
4        8       91.32     93.64    95.00    107.41  78.89
..     ...         ...       ...      ...       ...    ...
94       8         NaN    103.71    45.00     93.52  66.94
95       7         NaN     80.54    41.25     93.70  44.72
96       8       89.94    102.77    87.50     90.74  92.78
97       7       95.60     76.13    66.25     99.81  90.56
98       8       63.40     97.37    73.12     72.78  82.22

[99 rows x 6 columns]

# Missing Values

* Check the number of NaN
* Fill the NaN with the mean of each column

In [19]:
# check the number of NaN in student grades dataset
grades.isnull().sum()

Prefix        0
Assignment    7
Tutorial      3
Midterm       3
TakeHome      5
Final         3
dtype: int64

In [20]:
# Fill NaN with mean() of each column in student grades dataset
grades.apply(lambda x: x.fillna(x.mean()), axis = 0)
# Note that fillna method would not automatically overwrite the dataset

    Prefix  Assignment   Tutorial    Midterm  TakeHome  Final
0        5    57.14000   34.09000  64.380000     51.48  57.50
1        8    95.05000  105.49000  67.500000     99.07  73.33
2        8    83.70000   83.17000  68.515833     63.15  53.89
3        7    85.73837   89.60625  49.380000    105.93  85.56
4        8    91.32000   93.64000  95.000000    107.41  78.89
..     ...         ...        ...        ...       ...    ...
94       8    85.73837  103.71000  45.000000     93.52  66.94
95       7    85.73837   80.54000  41.250000     93.70  44.72
96       8    89.94000  102.77000  87.500000     90.74  92.78
97       7    95.60000   76.13000  66.250000     99.81  90.56
98       8    63.40000   97.37000  73.120000     72.78  82.22

[99 rows x 6 columns]

In [29]:
# Using the same logic we can impute NaN with median of each column too!
# x.median() with median and x.mode() with mode by replacing the function mean()
grades.apply(lambda x: x.fillna(x.median()), axis = 0)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5      57.140    34.090    64.38     51.48  57.50
1        8      95.050   105.490    67.50     99.07  73.33
2        8      83.700    83.170    69.69     63.15  53.89
3        7      90.535    93.015    49.38    105.93  85.56
4        8      91.320    93.640    95.00    107.41  78.89
..     ...         ...       ...      ...       ...    ...
94       8      90.535   103.710    45.00     93.52  66.94
95       7      90.535    80.540    41.25     93.70  44.72
96       8      89.940   102.770    87.50     90.74  92.78
97       7      95.600    76.130    66.25     99.81  90.56
98       8      63.400    97.370    73.12     72.78  82.22

[99 rows x 6 columns]

# Indexing and Filtering

In [30]:
import pandas as pd

cdc_2017_data = pd.read_csv('NISPUF17.csv', index_col = 0)
cdc_2017_data.head()

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [39]:
# How many children without taking varicella vaccine have never experienced chicken pox?
len(cdc_2017_data[(cdc_2017_data['HAD_CPOX'] == 2) & (cdc_2017_data['P_NUMVRC'] == 0.0)][['HAD_CPOX', 'P_NUMVRC']])

1283

In [38]:
# How many children who took at least one varicella vaccine have never experienced chicken pox?
len(cdc_2017_data[(cdc_2017_data['HAD_CPOX'] == 2) & (cdc_2017_data['P_NUMVRC'] > 0.0)][['HAD_CPOX', 'P_NUMVRC']])

13830

In [40]:
# How many children without taking varicella vaccine experienced chicken pox in their childhood?
len(cdc_2017_data[(cdc_2017_data['HAD_CPOX'] == 1) & (cdc_2017_data['P_NUMVRC'] == 0.0)][['HAD_CPOX', 'P_NUMVRC']])

52

In [41]:
# How many children who took at least one varicella vaccine experienced chicken pox in their childhood?
len(cdc_2017_data[(cdc_2017_data['HAD_CPOX'] == 1) & (cdc_2017_data['P_NUMVRC'] > 0.0)][['HAD_CPOX', 'P_NUMVRC']])

121

In [43]:
# Question: What is the proportion of children ever experienced chicken pox 
# if he/she did not take varicella vaccine?
print(52/1283)

# Question: What is the proportion of children ever experienced chicken pox 
# if he/she took at least one varicella vaccine?
print(121/13830)

0.04053000779423227
0.008749096167751266

# Transpose

In [52]:
data = [0, 1, 2]
index = ['b', 'e', 'f']
df = pd.DataFrame(data, index = index)
df.T

   b  e  f
0  0  1  2

In [55]:
series = pd.Series(data, index = index)
series

b    0
e    1
f    2
dtype: int64

In [57]:
series.to_frame().T

   b  e  f
0  0  1  2